/.idea
/Task01/.idea
/Task01/out
/Task01/Task01.iml

/Task02/.idea
/Task02/out
/Task02/Task02.iml


/Task03/.idea
/Task03/out
/Task03/Task03.iml

/Task04/.idea
/Task04/out
/Task04/Task04.iml

/Task05/.idea
/Task05/out
/Task05/Task05.iml

/Task06/.idea
/Task06/out
/Task06/Task06.iml

/Task07/.idea
/Task07/out
/Task07/Task07.iml

/Task08/.idea
/Task08/out
/Task08/Task08.iml

/Task09/.idea
/Task09/out
/Task09/Task09.iml

/Task010/.idea
/Task010/out
/Task010/Task010.iml

/.idea
/out
